language: objective-c
osx_image: xcode8
xcode_project: Luhn.xcodeproj
xcode_scheme: Luhn

env:
  - ACTION=test  PLATFORM=Mac     DESTINATION='platform=macOS,arch=x86_64'
  - ACTION=test  PLATFORM=iOS     DESTINATION='platform=iOS Simulator,name=iPhone 6'
  - ACTION=build PLATFORM=watchOS DESTINATION='platform=watchOS Simulator,name=Apple Watch - 38mm'
  - ACTION=test  PLATFORM=tvOS    DESTINATION='platform=tvOS Simulator,name=Apple TV 1080p'

script:
  - set -o pipefail && xcodebuild -scheme Luhn -destination "$DESTINATION" $ACTION | xcpretty